.gameBox {
    background-image: url(img/LvQA7e.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:100%;
	border: 6px double black;
	padding-top: 30px;
}

.wrapper {
    width:100%;
    padding-bottom: 30px;
}

.center {
    padding-top: 100px;
    margin: auto;
    width: 25%;

}

img{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    float:right;
}

#a1 {
    height: 150px;
    width: 150px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    display: inline-block;
    margin: 0px;
}

#a1:hover {
    background-color:  #69dac9;
}

#a2 {
    height: 150px;
    width: 150px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    display: inline-block;
    margin: 0px;
}

#a2:hover {
    background-color:  #69dac9;
}

#a3 {
    height: 150px;
    width: 150px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    display: inline-block;
    margin: 0px;
}

#a3:hover {
    background-color: #69dac9;
}

#b1 {
    height: 150px;
    width: 150px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-top: solid 1px;
    display: inline-block;
    margin: 0px;
}

#b1:hover {
    background-color:  #69dac9;
}

#b2 {
    height: 150px;
    width: 150px;
    border: solid 1px;
    display: inline-block;
    margin: 0px;
}

#b2:hover {
    background-color:  #69dac9;
}

#b3 {
    height: 150px;
    width: 150px;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-top: solid 1px;
    display: inline-block;
    margin: 0px;
}

#b3:hover {
    background-color:  #69dac9;
}

#c1 {
    height: 150px;
    width: 150px;
    border-top: solid 1px;
    border-right: solid 1px;
    display: inline-block;
    margin: 0px;
}

#c1:hover {
    background-color:  #69dac9;
}

#c2 {
    height: 150px;
    width: 150px;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    display: inline-block;
    margin: 0px;
}

#c2:hover {
    background-color:  #69dac9;
}

#c3 {
    height: 150px;
    width: 150px;
    border-top: solid 1px;
    border-left: solid 1px;
    display: inline-block;
    margin: 0px;
}

#c3:hover {
    background-color:  #69dac9;
}

img{
    width: 100%;
    height: 100%;
}

#reset {
    background-color: #69dac9;
    color: darkslategray;
    border: 2px double darkslategray;
	margin-top: 10vh;
	width: 40%;
	margin-left: 30%;
}

#reset:hover {
    background-color: #347a70;
    color: aquamarine;
}

.box{
    border: solid 1px black;
    height: 10vh;
    width: 5vw;
    padding: 0.5em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h1{
    font-size: 6.5em;
}